@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Headland+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arizonia');
@import url('https://fonts.googleapis.com/css?family=Anaheim');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
}

/*Start header*/
header nav {
    white-space: normal;
    text-transform: capitalize;
    padding: 4%;
}

.collapse{
    width: 30%; 
}

.mainlinks li:hover{
    background-color: #000;
    width: auto;
}

.searchButton {
    background-color: #FFF;
}

.searchButton input[type="search"] {
  width: 130px;
  height: 50px;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.searchButton input[type="search"]:focus {
  outline: none;
}

.searchButton svg {
    margin-top: 15px;
} 


/*
#SearchWebsite{
    height: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    
}

.contsearch:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
}

.contsearch {
    padding: 0;
    border: none;
    
}

.contsearch a {
    padding: .75rem 1,25rem;
    display: block;
    color: #333;
    text-decoration: none;
}
*/

.searchSection {
    display: none;
}

.contsearch a {
    text-decoration: none;
    color: #757577;
}

.contsearch:hover {
    background-color: #AAA;   
}


.mainlinks, .searchButton, .iconlinks {
    margin-top: 10px;
}

/* End header*/

/*Start main Introduction in index.html*/
.spacer {
    width: 100%;
    height: 35px;
}

.introduction {
    background: url(../images/nike.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.p-md-auto {
    padding: 15%;
}

.introduction h1 {
    color: #FFF;
}

.introduction h1 span {
    margin-left: -2%;
    font-family: Lobster;
    font-size: 3em;
}

.introduction h1 pre {
    font-size: 2em;
}

.introductionbutton button:hover {
    opacity: 0.7;
}

.introductionbutton .women {
    margin-left: 2%;
}

.whoweare {
   line-height: 2; 
}

.whoweare h1{
    color: #343a40;
    font-family: 'Andika New Basic', sans-serif;
    font-family: 'Headland One', serif;
}

.whoweare p{
    color: #6C757D;
    font-family: 'Andika New Basic', sans-serif;
}

/*End main Introduction*/


/* Start main in measurment.html*/
@media (max-width: 576px){
.spacerpages {
    width:15em;
    height:15em;
}
    
}

@media (min-width: 576px){
.spacerpages {
    width:10em;
    height:7em;
}
    
}
/* Start main in measurment.html*/

/* Start footer*/

#userfeedback {
    font-family: 'Roboto', sans-serif;
    max-width: 70%;
}

.feedback input[type="submit"] {
    text-align: center;
    max-width: 20%;
    margin: auto 25%;
}


/* End footer*/